.slideshow-containers {
    display: flex;
    overflow: hidden;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 1000px; /* Adjust to your preferred width */
}

.card-containers {
    display: flex;
    flex-wrap: nowrap;
    transition: transform 0.5s ease-in-out;
    margin-top: 30px;

}

.cardlogo {
    flex: 0 0 auto;
    width: 100px; /* Adjust as needed */
}

.cardlogo img {
    width: 3cm;
    height: 3cm; /* Maintains the aspect ratio of the image */
}